.venv
.vscode
_pycache_
background.wav
bounce.wav
fgoServants.txt.bak
fgoServants.txt.dat
fgoServants.txt.dir
answers
quizzes
AmericanDates.zip
EuropeanDates.zip
Test.zip
fileName.txt.bak
fileName.txt.dat
fileName.txt.dir
AmericanDates
EuropeanDates